<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/temperatura.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <!-- <div class="container-menu"> -->
    <header class="header-usina">
        <select class="btn-select" id="select-usina">
            <option value="0">Todas</option>
            <option value="1">Pedras</option>
            <option value="2">Aparecida</option>
            <option value="3">FAE</option>
            <option value="4">Picadas</option>
            <option value="5">Hoppen</option>
        </select>
    </header>
    </div>
    {% block content %}{% endblock %}
<script>
    const socket = io();
    socket.on('connect', function() {
        console.log('Conectado ao servidor SocketIO');
    });

    socket.on('atualizar', function(data) {
        console.log('Atualização recebida para o arquivo:', data.arquivo);
        location.reload();
    });
    const eventSource = new EventSource('/stream');

    eventSource.onmessage = function(event) {
        const data = JSON.parse(event.data);
        const cardGraphContent = document.getElementById('card-graph-content');
        const cardTemperatureContent = document.getElementById('card-temperature-content');
        if (cardGraphContent) {
            cardGraphContent.innerHTML = data.html_potencia_ativa;
        }
        if (cardTemperatureContent) {
            cardTemperatureContent.innerHTML = data.html_temperature;
        }        
    };
    // enviar uma mensagem para o servidor sobre a escolha do usuario de ver um usina especifica ou todas
    document.getElementById('select-usina').addEventListener('change', function() {
        const usina = this.value;
        fetch('/usina', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ usina })
        });
    });
</script>
</body>
</html> 